<%include header %>
<html>
<head><title>Ejemplo de tabla sencilla</title></head>
<body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav">
                  <li class="nav-item ">
                    <a class="nav-link" href="/">Zombies</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/clases">Clases</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/armas">Armas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="/victimas">Victimas</a>
                  </li>
                </ul>
              </nav>
 
<h1>Armas</h1>
<table>
  <tr>
    <th>Zombie</th>
    <th>Arma 1</th> 
    <th>Arma 2</th>
  </tr>
  <tr>
    <td>El sonambulo</td>
    <td>Eagle of desert</td>
    <td>Bat</td>
  </tr>
  <tr>
    <td>Los Gouls</td>
    <td>Lanza Cohetes</td>
    <td>Navaja</td>
  </tr>
  <tr>
    <td>Los Romeos</td>
    <td>M16</td>
    <td>Boxer</td>
  </tr>
  <tr>
    <td>Hijos del Cometa</td>
    <td>AK47</td>
    <td>Granadas</td>
  </tr>
</table>
<br>

 
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/main.js"></script>

<%include footer %>