<%include header %>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">Zombies</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/clases">Clases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/armas">Armas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/victimas">Victimas</a>
          </li>
        </ul>
      </nav>
      <h1>Victimas</h1>
      <table>
        <tr>
          <th>Nombre</th>
          <th>Direccion</th> 
          <th>Telefono</th>
          <th>Tipo de Sangre</th>
        </tr>
        <tr>
          <td>Jorge</td>
          <td>Amatista 200</td>
          <td>8141516t</td>
          <td>-N</td>
        </tr>
        <tr>
          <td>Sebas</td>
          <td>eclipse 300</td>
          <td>8143030</td>
          <td>+0</td>
        </tr>
        <tr>
          <td>Berna</td>
          <td>Caja de carton</td>
          <td>45454545</td>
          <td>-Z</td>
        </tr>
        <tr>
          <td>Nallely</td>
          <td>tu corazon</td>
          <td>647375376</td>
          <td>+A</td>
        </tr>
      </table>
      <br>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/main.js"></script>

<%include footer %>